@{
    ViewBag.Title = "Confirmación de Asistencia";
    Layout = "~/Views/Empleado/_LayoutEmpleado.cshtml";
    string fechaActual = ViewData["FechaRegistrada"].ToString();
    string horaActual = ViewData["HoraRegistrada"].ToString();
}

<div
    style="display: flex; justify-content: center; align-items: center; min-height: 100vh; background-color: #D5D9FF; font-family: Arial, sans-serif;">
    <div
        style="width: 600px; padding: 30px; background-color: white; border-radius: 12px; box-shadow: 0 0 15px rgba(0,0,0,0.2); text-align: center;">
        <img src="https://firebasestorage.googleapis.com/v0/b/appweb2-44bcb.appspot.com/o/main_logo-rb.png?alt=media&token=b35b6b37-eaeb-482a-9374-bbc0d8d3fc69"
            alt="Logo" style="width: 150px; margin-bottom: 20px;">
        <div style="background-color: #28a745; color: white; padding: 20px; border-radius: 12px; margin-bottom: 20px;">
            <h2 style="font-size: 24px; margin-bottom: 10px;">FELICIDADES!!</h2>
            <p style="font-size: 18px; margin: 5px 0;">ASISTENCIA REGISTRADA</p>
            <p style="font-size: 18px; margin: 5px 0;">HOY @fechaActual</p>
            <p style="font-size: 18px; margin: 5px 0;">A las @horaActual</p>
        </div>
        <a class="nav-link text-dark fw-bold"
            style="background-color: white; color: white; border: none; padding: 12px 25px; border-radius: 8px; cursor: pointer; font-size: 16px;"
            asp-area="" asp-controller="Empleado" asp-action="Index">Volver</a>

    </div>
</div>
