@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Recuperar contraseña";
}

<div class="container d-flex justify-content-center align-items-center min-vh-100 bg-light">
    <div class="row shadow-lg rounded w-100 mx-2 p-5" style="max-width: 500px; background-color: white;">
        <h2 class="text-center fw-bold mb-4">@ViewData["Title"]</h2>
        <p class="text-center text-muted mb-4">Comuniquese con el supervisor asignado</p>
        <a class="btn btn-danger" asp-area="" asp-controller="Home"
                                asp-action="Index">Regresar al Inicio</a>
        
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
